alpaca-trade-api==3.0.2
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.11.17
chardet==5.2.0
idna==2.10
numpy==1.26.2
pandas==2.1.4
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
six==1.15.0
soupsieve==2.2
urllib3==1.26.9
websocket-client==1.7.0
websockets==10.4
yfinance==0.2.33
nltk==3.8.1
newsapi-python==0.2.6
fastapi[all]
uvicorn
pydantic
polygon-api-client==1.13.3
